@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-slateDark antialiased;
    font-family: 'Outfit', sans-serif;
  }
}

@layer utilities {
  .glass-effect {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-floating;
  }
}